 
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}
  
/* Código */
.header{
  width:100%;
  background-color: #d7ea31;
  padding: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  color:rgb(231, 22, 22);
}

.header .ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  
}
.header .li{
  margin: 0 .5em;
}
